@font-face {
  font-family: 'pt_sans_narrowbold';
  src: url('../fonts/ptsans-narrowbold-08.woff2') format('woff2'),
       url('../fonts/ptsans-narrowbold-08.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
