body {
  background: $bianca;
  font-family: pt_sans_narrowbold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: .05em;
  color: #333;
}

a {
  color: $japonica;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: pt_sans_narrowbold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

strong,
b {
  font-weight: 900; //black
}

h1 {
  @include font(20, 20);
  color: $japonica;
  text-transform: uppercase;
  margin: 28px 0 64px;
  font-weight: normal;

  @include mq($bp-tablet) {
    @include font(24, 24);
    margin-bottom: 94px;
  }

  a {
    text-decoration: none;
  }

}

h2 {
  @include font(20, 20);
  color: $japonica;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;

  @include mq($bp-tablet) {
    @include font(24, 24);
  }

}

h3 {
  @include font(10, 16);
  font-weight: 900; //black
  margin: 12px 0;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: normal;

  @include mq($bp-tablet) {
    @include font(12, 18);
    margin: 20px 0;
  }

  @include mq($bp-desktop) {
    @include font(14, 20);
  }

  &:first-of-type {
    margin-top: 0;
  }

}//h3

p {
  @include font(14, 20);
  margin: 20px 0;

  @include mq($bp-tablet) {
    @include font(16, 28);
  }

  @include mq($bp-desktop) {
    @include font(20, 32);
  }

  &:first-of-type {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.small {
    @include font(10, 16);

    @include mq($bp-tablet) {
      @include font(12, 18);
    }

    @include mq($bp-desktop) {
      @include font(14, 20);
    }
  }

}//p

.nowrap {
  white-space: nowrap;
}
